* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

}

.test {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

.home {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
}

/* navbar start */
.navbar {
  display: flex;
  width: 100%;

  color: white;
}

/* .logo img{
  width: 250px;;
} */
.navbar h4 {
  margin-left: 200px;
  margin-top: 20px;
  /* color:white; */
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-left: 600px;
  position: relative;
}

.navbar ul li {
  padding-right: 40px;
  margin-top: 20px;
}

.home h2 {
  text-align: center;
  color: white;
  margin-top: 30px;
}

.home img {
  width: 300px;
  height: 70px;
  margin-left: 600px;
  margin-top: 80px;
}

.flex {
  /* margin-top: 50px; */
  display: flex;
}

.location {
  margin-left: 400px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
}

.foods_find {
  width: 550px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
}

/* navbar end */

/* main_home Start */
.main_home_cards {
  margin-left: 195px;
  margin-top: 30px;
  display: flex;
}

.main_home_cards img {
  width: 350px;
  /* height: 200px; */
  height: auto;
  border-radius: 10px;
}

.main_home_cards p {
  font-size: 0.8em;
}

.main_home_card {
  width: 350px;
  margin-left: 20px;
  height: 200px;
  transition: 0.5s;
}

.main_home_card:hover {
  transform: scale(1.07);
  transition: 0.5s;
}

.heading {
  margin-top: 60px;
  margin-left: 215px;
  font-size: 2.5em;
}

.sub_heading {
  margin-left: 215px;
}

.Collections_card1 {
  margin-left: 20px;
  width: 260px;
  height: 300px;
  /* border:1px solid grey; */
  background-image: url("https://b.zmtcdn.com/data/pictures/9/18784859/428cfd4b68396fdf37ad98286dc8158a.jpg?output-format=webp&fit=around|300:273&crop=300:273;*,*");
  background-position: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.Collections_card1 p {
  padding: 250px 20px 20px 20px;
  font-size: 1.1em;
}

.Collections_card2 {
  margin-left: 20px;
  width: 260px;
  height: 300px;
  /* border:1px solid grey; */
  background-image: url("https://b.zmtcdn.com/data/pictures/4/19111824/3e4ae1892d417a57d69c2cfbcf32c09a.jpg?output-format=webp&fit=around|771.75:416.25&crop=771.75:416.25;*,*");
  background-position: no-repeat;
  background-size: cover;
  border-radius: 10px;

}

.Collections_card2 p {
  padding: 250px 20px 20px 20px;
  font-size: 1.1em;
}

.Collections_card3 {
  margin-left: 20px;
  width: 260px;
  height: 300px;
  /* border:1px solid grey; */
  background-image: url("https://b.zmtcdn.com/data/pictures/chains/1/18604711/d1bcc00fd90e3f15be91ba955459796d.jpg?output-format=webp&fit=around|771.75:416.25&crop=771.75:416.25;*,*");
  background-position: no-repeat;
  background-size: cover;
  border-radius: 10px;

}

.Collections_card3 p {
  padding: 250px 20px 20px 20px;
  font-size: 1em;
}

.Collections_card4 {
  margin-left: 20px;
  width: 260px;
  height: 300px;
  /* border:1px solid grey; */
  background-image: url("https://b.zmtcdn.com/data/pictures/1/20534711/e4ee271b612fbf08bc6aeafeb6241558.jpg?output-format=webp&fit=around|771.75:416.25&crop=771.75:416.25;*,*");
  background-position: no-repeat;
  background-size: cover;
  border-radius: 10px;

}

.Collections_card4 p {
  padding: 250px 20px 20px 20px;
  font-size: 1em;
}

.localities_card {
  margin-left: 20px;
  margin-bottom: 50px;
  width: 356px;
  height: 70px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px rgb(221, 218, 218);
  transition: 1s;

}

.localities_card:hover {
  box-shadow: 1px 2px 4px rgb(254, 240, 240);
  transition: 1s;
}

.localities_card h5 {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.3em;
}

.localities_card h3 {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 1.1em;
  /* background-color: rgb(240, 238, 235); */
}

.localities_card a {
  color: black;
}

.download_link {
  display: flex;
  width: 100%;
  background-color: rgb(255, 251, 247);
}

.download_link_left {
  width: 50%;
}

.download_link img {
  margin-left: 320px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.download_link_right {
  width: 50%;
}

.d-heading {
  font-size: 2.5em;
  margin-left: 30px;
  margin-top: 20px;
}

.d-sub_heading {
  font-size: 1.1em;
  margin-top: 20px;
  margin-left: 30px;
}

.radio {
  margin-left: 30px;
  margin-top: 20px;
}

.space {
  margin-left: 20px;
}

/* .download_link_right {
    margin-left: 30px;
    margin-top: 20px;

} */
.placeholder {
  width: 270px;
  margin-left: 30px;
  margin-top: 20px;
  height: 40px;
  padding-left: 10px;
  font-size: 1.1em;
}

.download_link_right button {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  background: border-box rgb(239, 79, 95);
  border-color: rgb(239, 79, 95);
  border-width: 0px;
  line-height: 34px;
  border-radius: 0.6rem;
  color: white;
  font-size: 1em;
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0s,
    box-shadow 0.25s ease 0s;
  border: 0.9px grey;
  cursor: pointer;
  margin-left: 30px;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

/* main_home end */


/* footer start */

.footer_section {
  width: 1120px;
  min-height: 65px;
  height: auto;
  margin-left: 215px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 22px;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2em;
}

.padbot {
  padding-bottom: 30px;
}

.footer_section:hover {
  background-color: azure;
}

.footer_section_space {
  margin-left: 60px;
  margin-top: 10px;
  display: flex;
}

.footer {
  display: flex;
  background-color: #f6f6f6;
}

.footer_logo {
  padding-left: 215px;
  margin-top: 40px;
  padding-top: 40px;

  background-color: #f6f6f6;

}

.footer_heading {
  margin-left: 108px;
  margin-top: 25px;
  font-size: 1em;
  font-weight: bolder;

}

.footer_space {
  margin-left: 215px;

}

.footer_heading p {
  font-size: 1em;
  font-weight: normal;
  margin-top: 5px;
}

.footer_heading i {
  padding-left: 7px;
  padding-top: 15px;
  font-size: 1.2em;
}

.footer a {
  color: gray;
}

.footer_heading img {
  width: 140px;
  margin-top: 20px;
}

.hide_container {
  display: none;
}

.show_container {
  display: block;
}